* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: #742525;
    background-color: #FCF3F3;
    width: 100vw;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 2em;
    background-color: #FCC9D7
}

a {
    color: #742525;
    font-weight: 700;
    transition: all 500ms ease-in-out;
}

iframe {
    margin: 2em;
    border: #FCC9D7;
    border-style: solid;
    border-width: 0.5em;
    border-radius: 1em;
}

footer {
    background-color: #FCC9D7;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

main p {
    max-width: 40em;
}

header a img {
    width: 8em;
    height: 5em;
    padding-left: 0.5em;
}

nav ul {
    display: flex;
}

nav li {
    margin: 1.5em;
    transition: all 500ms ease-in-out;
}

nav li:hover {
    transform: scale(1.30);
}

a:hover {
    transform: scale(1.25);
    color: #FCF3F3;
    cursor: pointer;
}

footer ul {
    display: flex;
}

footer a img {
    width: 2em;
    height: 2em;
    margin: 1em;
    transition: all 500ms ease-in-out;
}

footer a img:hover {
    transform: scale(1.30);
}

/*Opmaak van de afleveringen op de Home pagina en de Afleveringen pagina*/
section.afleveringen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

section.afleveringen img {
    width: 10em;
    height: 10em;
    border-radius: 1em;
    margin: 1em;
    transition: all 500ms ease-in-out;
}

section.afleveringen img:hover {
    transform: scale(1.20);
    cursor: pointer;
}

section.afleveringen p {
    border-radius: 2em;
    background: #FCC9D7;
    padding: 3em;
    margin-left: 2em;
}

section.merchandise {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

section.merchandise article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 500ms ease-in-out;
}

section.merchandise article:hover {
    transform: scale(1.15);
    cursor: pointer;
}

section.merchandise img {
    width: 15em;
    height: 17em;
    margin: 2em;
    border-radius: 1em;
}

section.overons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    padding: 1em;
    border: #FCC9D7;
    border-style: solid;
    border-width: 0.5em;
    border-radius: 1em;
}

section.overons img {
    width: 10em;
    height: 12em;
    margin: 1em;
}